body{
    max-width:290px;
    margin: auto;
    margin-top: 240px;
    background: black;
}

form{
	width: 300px;
}

div{
	float:left;
	margin-bottom: 5px;
}

div input{
	width: 249px;
	height: 25px;
	margin-right: 5px;
    text-align: right;
    cursor: default;
}

button{
	width: 60px;
	height: 30px;
	text-align: center;
}